<hello name="{{ name }}"></hello>
<fieldset class="form-group"
          [attr.aria-labelledby]="(!framework) ? optionDescription : null">
  <legend>Select you prefered framework:</legend>
  <ng-container *ngFor="let currentOption of options">
    <input type="radio" required
      id="opt_{{currentOption.value}}" 
      name="framework" 
      value="{{currentOption.value}}"
      [(ngModel)]="framework"
      class="form-control"/>
    <label for="opt_{{currentOption.value}}">{{currentOption.name}}</label>
  </ng-container>
  <p *ngIf="framework ; else emptySelection">
    You prefer: {{framework}}.
  </p>
  <ng-template #emptySelection>
    <div [id]="warningId" role="alert"
        class="warning">You must select an option above.</div>
  </ng-template>
</fieldset>
<button type=button (click)="reset()">Clear</button>
