:host {
  max-width: 80rem;
  margin: 0 auto;
}


fieldset {
  border: 0;
  padding: 0;
}

fieldset legend {
  margin: 1rem 0 1rem 0;
  font-style: italic;
}

.warning {
  margin: 1rem 0 .5rem 0;
  padding: .5rem;
  border: 1px solid darkorange;
  background: lightsalmon;
  font-size: .9rem;
  font-weight: bold;
}

main,
.action-bar {
  padding: 2rem 1rem 2rem 1rem;
}


nav.action-bar {
  margin: 2rem 0 0 0;
  background: #fdfdfd;
  border-top: 1px solid #ccc;
  position: absolute;
  left: 0;
  bottom: 0;
  box-sizing: border-box;
  width: 100vw;
}

